:root {
    --bg-color: #f4f4f4;
    --text-color: #333;
    --card-bg: white;
    --shadow-color: rgba(0, 0, 0, 0.1);
    --button-bg: #28a745;
    --button-hover: #218838;
    --list-bg: #ffeb3b;
    --theme-switch-bg: #4D4D4D ;
}

.dark-mode {
    --bg-color: #0d0f1a; 
    --text-color: #e0e0e0; 
    --card-bg: #181b2c;
    --card-border: #2a2f4e; 
    --shadow-color: rgba(0, 0, 0, 0.6); 
    --button-bg: #007bff; 
    --button-hover: #0056b3; 
    --list-bg: #666666;
    --list-text: #fff;
    --theme-switch-bg:  #FFF5EE; 
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    text-align: center;
    padding: 20px;
}

h1 {
    color: var(--text-color);
    margin-bottom: 20px;
}

.amount-input, .expenses {
    background: var(--card-bg);
    padding: 20px;
    margin: 10px auto;
    border-radius: 10px;
    box-shadow: 0px 4px 6px var(--shadow-color);
    width: 300px;
}

input {
    width: 80%;
    padding: 8px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    background: var(--card-bg);
    color: var(--text-color);
}

button {
    padding: 10px 15px;
    border: none;
    background: var(--button-bg);
    color: white;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.3s;
}

button:hover {
    background: var(--button-hover);
}

.budget {
    margin-top: 15px;
    font-size: 18px;
    font-weight: bold;
}

ul {
    list-style-type: none;
    margin-top: 10px;
    padding: 0;
}

li {
    background: var(--list-bg);
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    font-weight: bold;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

#theme-switch {
    height: 50px;
    width: 50px;
    padding: 0;
    border-radius: 50%;
    background-color: var(--theme-switch-bg);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 20px;
    right: 20px;
    cursor: pointer;
}

#theme-switch svg {
    background-color: var(--theme-switch-bg);
}

#theme-switch svg:last-child {
    display: none;
}

.dark-mode #theme-switch svg:first-child {
    display: none;
}

.dark-mode #theme-switch svg:last-child {
    display: block;
}
